@import url('https://fonts.googleapis.com/css?family=Baloo|Covered+By+Your+Grace|Nothing+You+Could+Do');

* {
  box-sizing: border-box;
}
body {
  margin: 0px auto;
  text-align: center;
  background-color: lightblue;

}
h1, h2 {
  font-family: 'Baloo', cursive;
}
p {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 900;
}
button {
  font-family: 'Baloo', cursive;
}
div {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}
div.column {
  border-left: 3px dashed black;
  vertical-align: top;
}
div.column:last-child {
  border-right: 3px dashed black;
}
.column-title {
  background-color: lightgreen;
  border-radius: 10px;
  padding: 0 15px;
  /*margin: 0;*/
}
.column-title h2 {

}
button.create-column {
  border-radius: 5px;
  background-color: lightgreen;
  display: block;
  text-align: center;
  margin: 10px auto;

}
button.add-card {
  border-radius: 5px;
  background-color: lightblue;
}
button.btn-delete {
  display: none;
}
div.column:hover button.btn-delete {
  display: inline-block;
}
ul.column-card-list {
  padding: 0;
  list-style-type: none;
  min-height: 100px;
}
div.trashcan img {
  min-height: 100px;
}